{deps_dir, "src"}.

{deps, [{drink, "1.0", {git, "https://github.com/danw/drink.git", "master"}},
        {drink_finger_server, "1.0", {git, "https://github.com/danw/drink_finger_server.git", "master"}},
        {drink_sunday_server, "1.0", {git, "https://github.com/danw/drink_sunday_server.git", "master"}},
        {drink_user_auth_mnesia, "1.0", {git, "https://github.com/danw/drink_user_auth_mnesia.git", "master"}},
        {drink_web, "1.0", {git, "https://github.com/danw/drink_web.git", "master"}},
        {drink_sasl_logger, "1.0", {git, "https://github.com/danw/drink_sasl_logger.git", "master"}},
        {drink_mysql_logger, "1.0", {git, "https://github.com/danw/drink_mysql_logger.git", "master"}}]}.
