{deps_dir, "src"}.

{deps, [{drink, "1.0", {git, "https://github.com/danw/drink.git", "dev"}},
        {drink_finger_server, "1.0", {git, "https://github.com/danw/drink_finger_server.git", "master"}},
        {drink_sunday_server, "1.0", {git, "https://github.com/danw/drink_sunday_server.git", "master"}}]}.
