[
 {drink, [
          {machine_listen_port, 4343},
          {user_auth_provider, user_auth_ldap}
          ]},
 {drink_finger_server, [{port, 79}]},
 {drink_sunday_server, [{port, 4242}]},
 {drink_web, [
              {docroot, "docroot"},
              {weblogs, "log/web"},
              {servername, "drink.csh.rit.edu"},
              {web_port, 80},
              {secure_web_port, 443}
              ]},
 {drink_mysql_logger, [
                       {server, "db.csh.rit.edu"},
                       {user, "drink"},
                       {database, "drink"}
                       ]},
 {drink_user_auth_ldap, [
                         {host, "ldap.csh.rit.edu"},
                         {user, "cn=drink,ou=apps,dc=csh,dc=rit,dc=edu"}
                         ]},
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
         ]},
 {mnesia, [
           {schema_location, disc},
           {dir, "mnesia_data"}]},
 {yaws, [{embedded, true}]},
 {inets, [{services, [{httpc, [{profile, ewebauth}]}]}]}
].

